## RainLoop default configuration for Apache2

<VirtualHost {{ POSTFIX_FQDN }}:80>
	# For use as a virtual host, set ServerName to the desired FQDN.
	ServerName {{ POSTFIX_FQDN }}
	DocumentRoot /usr/share/rainloop
</VirtualHost>
