{% if 'yes' in ALL_LDAP_TLS_REQUIRED %}
uris            = ldaps://{{ ALL_LDAP_HOST }}
tls_ca_cert_file= /etc/ssl/certs/ca-certificates.crt
tls_require_cert= hard
{% else %}
uris            = ldap://{{ ALL_LDAP_HOST }}
{% endif %}
ldap_version    = 3
auth_bind       = yes
dn              = {{ ALL_LDAP_BIND_DN }}
dnpass          = {{ ALL_LDAP_BIND_PW }}
base            = {{ ALL_LDAP_SEARCH_BASE }}
scope           = subtree
deref           = never

user_attrs = {{ DOVECOT_LDAP_USER_ATTR }}
user_filter = {{ DOVECOT_LDAP_USER_FILTER }}

pass_attrs = {{ DOVECOT_LDAP_PASS_ATTR }}
pass_filter = {{ DOVECOT_LDAP_PASS_FILTER }}

