ssl = required
ssl_cert = <{{ ALL_TLS_CERT }}
ssl_key = <{{ ALL_TLS_CERT_KEY }}
ssl_min_protocol = TLSv1.2
ssl_cipher_list = HIGH:!MEDIUM:!RC4:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS
ssl_prefer_server_ciphers = yes

